click
dacite
jinja2
pyyaml
dataclasses-json
dataclasses-jsonschema
# ontodev requirements
ontodev-cogs
graphlib-backport
openpyxl
# git+https://github.com/ontodev/axle.git
urlp
mkdocs
cas-tools==0.0.1.dev29
cell-annotation-schema==0.2b0
tdta==0.1.0.dev3
pandas
pyarrow
