click
dacite
jinja2
pyyaml
dataclasses-json
dataclasses-jsonschema
# ontodev requirements
ontodev-cogs
graphlib-backport
openpyxl
# git+https://github.com/ontodev/axle.git
urlp
mkdocs
ctat==0.0.2.dev2
pandas
tdta==0.0.4.dev3