{% extends "form.html" %}

{% block head_end %}
<link rel="stylesheet" href="{{ page.root }}assets/styles.css" />
<link rel="stylesheet" href="{{ page.root }}assets/ols-autocomplete.css" />
<style>
  .link-grey { color: #aaa; } .link-grey:hover { color: #00913b; }
</style>
{% endblock %}

{% block body_end %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="{{ page.root }}assets/ols-autocomplete.js"></script>
<script>
  $("*[name='cell_set_accession']").first().attr("readonly", true);
  // $("*[name='labelset']").first().attr("readonly", true);

  // ONTOLOGY AUTOCOMPLETE
  $("*[name='cell_ontology_term_id']").first().attr("readonly", true);
  $("*[name='cell_ontology_term']").first().attr({
    "data-selectpath": "https://www.ebi.ac.uk/ols4/",
    "data-olsontology": "cl",
    "data-olswidget": "select",
    "olstype": "",
    "placeholder": "Search for ontology entity",
  });

  $("*[name='location_ontology_term_id']").first().attr("readonly", true);
  $("*[name='location_ontology_term_name']").first().attr({
    "data-selectpath": "https://www.ebi.ac.uk/ols4/",
    "data-olsontology": "uberon",
    "data-olswidget": "select",
    "olstype": "",
    "placeholder": "Search for ontology entity",
  });

  var app = require("ols-autocomplete");
  var instance = new app();
  options = {
    action: function (relativePath, suggestion_ontology, type, iri, data) {
      console.log("In overwritten function")
      console.log("Relative Path: " + relativePath)
      console.log("Suggested Ontology: " + suggestion_ontology)
      console.log("Type (optional): " + type)
      console.log("iri (optional): " + iri)
      console.log("Whole data element (optional+new): ")
      console.log(data)
      console.log(document.activeElement)
      console.log("Field-id: " + $('.ebi-autocomplete:focus'))
    }
  }
  instance.start(options);

  // custom tokenizer that tokenizes with underscore char as well
  function getObjTokenizer() {
    return function setKey(keys) {
      keys = Array.isArray(keys) ? keys : [].slice.call(arguments, 0);

      return function tokenize(o) {
        var tokens = [];

        keys.forEach(function(k) {
          tokens = tokens.concat(custom_nonword_tokenizer(String(o[k])));
        });

        return tokens;
      };
    };
  }

  function custom_nonword_tokenizer(str) {
    str = String(str);
    return str ? str.split(/[^a-zA-Z0-9]+/) : [];
  }

  $("*[name='cell_ontology_term']").first().on('change', function(evt, item) {
    console.log("cell_ontology_term changed");
    if (!this.value) {
      // clear id when term cleaned
      $("*[name='cell_ontology_term_id']").first()[0].value = "";
    }
  });

  // PARENT AUTOCOMPLETE
  $("*[name='parent_cell_set_accession']").first().attr("readonly", true);

  function configure_autocomplete(divName, records) {
    my_obj_tokenizer = getObjTokenizer();
    // constructs the suggestion engine
    var typeaheadBH = new Bloodhound({
      // datumTokenizer: Bloodhound.tokenizers.obj.nonword(['cell_label', 'cell_set_accession']),
      datumTokenizer: my_obj_tokenizer(['cell_label', 'cell_set_accession']),
      queryTokenizer: Bloodhound.tokenizers.nonword,
      local: records
    });
    typeaheadBH.initialize();

    $("*[name='" + divName + "']").first().typeahead({
      hint: false,
      highlight: true,
      minLength: 1
    },
    {
      name: 'autocomplete',
      source: typeaheadBH,
      limit: 10,
      display: function(selection){
          return selection['cell_label'];
      },
      templates: {
        suggestion: function(data) {
            return '<p>' + data.cell_label + ' [' + data.cell_set_accession + '] </p>';
        }
      }
    });

    $("*[name='" + divName + "']").first().on('typeahead:selected', function(evt, item) {
      $("*[name='parent_cell_set_accession']").first()[0].value = item['cell_set_accession'];
    });
  }// end configure_autocomplete

  var table_json_url = "";
  var labelset_json_url = "";
  var row_number = null;
  var is_new_row = false;  // flag to check if new row or edit row
  if (String(window.location.href).includes("/row/")) {
    // for edit row
    table_json_url = String(window.location.href).split("/row")[0] + ".json?limit=100000&shape=value_rows";
    row_number =  String(window.location.href).split("?")[0].split("/row/")[1]
    is_new_row = false;
    labelset_json_url = String(window.location.href).split("/annotation")[0] + "/labelset.json?limit=100000&shape=value_rows";
  } else {
    // for add new row
    table_json_url = String(window.location.href).split("?view=")[0] + ".json?limit=100000&shape=value_rows";
    is_new_row = true;
    labelset_json_url = String(window.location.href).split("/annotation")[0] + "/labelset.json?limit=100000&shape=value_rows";
  }

  function get_accession_prefix(records) {
    var accession_prefix= records[0]["cell_set_accession"];
    for (index in records){
      record = records[index];
      while (!record["cell_set_accession"].includes(accession_prefix)) {
        accession_prefix = accession_prefix.slice(0, -1);
      }
    }
    return accession_prefix;
  }

  function get_new_accession(records, accession_prefix) {
    var max_id = 0;
    for (index in records){
      record = records[index];
      var record_accession = parseInt(record["cell_set_accession"].replace(accession_prefix, ""), 10);
      if (record_accession > max_id) {
        max_id = record_accession;
      }
    }
    return accession_prefix + (max_id + 1);
  }

  var api_results = {}; // final object containing consolidated api result
  $.when(
      $.getJSON(table_json_url, function (data) {
        api_results["annotations"] = data;
      }),

      $.getJSON(labelset_json_url, function (labelset_data) {
        var labelset_ranks = [];
        for (index in labelset_data) {
          labelset = labelset_data[index];
          labelset_ranks[labelset.name] = parseInt(labelset.rank);
        }
        api_results["labelsets"] = labelset_ranks;
      })
  ).done(function() {
    table_data = api_results["annotations"]
    labelset_ranks = api_results["labelsets"]
    var parents = table_data;

    // console.log("All data: ", table_data);
    // sort highest rank first but ordered by accession_id if same rank. Then filter higher ranks only
    // table_data.sort((a, b) => (a.rank > b.rank) ? -1 : (a.rank === b.rank) ? ((a.cell_set_accession > b.cell_set_accession) ? 1 : -1) : 1 );

    if (! is_new_row) {
      // filter higher ranks only as parents while editing
      form_data = table_data[parseInt(row_number) - 1];
      // console.log("Form data: ", form_data);
      parents = table_data.filter(function (el) {
        return labelset_ranks[el.labelset] > labelset_ranks[form_data.labelset];
      });
    }

    // parent autocomplete
    configure_autocomplete("parent_cell_set_name", parents);

    // auto assign incremental accession
    if (is_new_row) {
      accession_prefix = get_accession_prefix(table_data);
      console.log("accession_prefix:", accession_prefix);
      $("*[name='cell_set_accession']").first()[0].value = get_new_accession(table_data, accession_prefix);
    }

  });

  $("*[name='parent_cell_set_name']").first().on('change', function(evt, item) {
    if (!this.value) {
      // clear id when term cleaned
      $("*[name='parent_cell_set_accession']").first()[0].value = "";
    }
  });

</script>

{% include 'review.html' %}

{% endblock %}
