{% extends "page.html" %}
{% block content %}

<h2>Custom Mapping Form</h2>

{% if messages %}
{% if "success" in messages %}
{% for msg in messages["success"] %}
<div class="row justify-content-md-center">
  <div class="col-md-10">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <div><i class="bi-emoji-smile-fill" style="padding-right:5px;"></i> {{ msg }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% if "error" in messages %}
{% for msg in messages["error"] %}
<div class="row justify-content-md-center">
  <div class="col-md-10">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div><i class="bi-x-octagon-fill" style="padding-right:5px;"></i> {{ msg }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% if "warn" in messages %}
{% for msg in messages["warn"] %}
<div class="row justify-content-md-center">
  <div class="col-md-10">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div><i class="bi-exclamation-triangle-fill" style="padding-right:5px;"></i> {{ msg }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% if "info" in messages %}
{% for msg in messages["info"] %}
<div class="row justify-content-md-center">
  <div class="col-md-10">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <div><i class="bi-info-circle-fill" style="padding-right:5px;"></i> {{ msg }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endif %}

<div class="row">
  <div class="col">
    LEFT TREE
  </div>
  <div class="col">
    RIGHT TREE
  </div>
</div>

<div class="row" style="padding-bottom:5px; padding-top:20px;">
  <form method="post">
    <div class="row">
      <div class="col">
        {{ form_map["table"]|safe }}
        {{ form_map["path"]|safe }}
      </div>
      <div class="col">
        {{ form_map["type"]|safe }}
        {{ form_map["description"]|safe }}
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-auto">
        <button class="btn btn-large btn-outline-primary" type="submit" name="action" value="validate">Validate</button>
      </div>
      <div class="col-auto">
        <button class="btn btn-large btn-outline-{{ 'success' if validated else 'danger' }}" type="submit" name="action"
          value="submit">Submit</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}