{% extends "page.html" %}

{% set range = result.range %}
{% set table = result.table %}
{% set columns = result.columns %}
{% set rows = result.rows %}

{% block styles %}
<link href="{{site.root}}/static/main.css" rel="stylesheet">
<!-- edit-start (load /static/main.css dynamically) -->
<!-- <link id="dynamicMainStylesheet" rel="stylesheet"> -->
<style>
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-container button {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: #000;
    padding: 8px 15px;
  }
</style>
<!-- edit-end -->
{% endblock %}

{% block content %}
<div class="float-end mt-1">
  <!-- edit-start -->
  {% if table.name == "annotation" %}
  <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#taxonomyModal">
    <i class="bi bi-diagram-3"></i>
    Taxonomy View
  </a>
  {% endif %}
  <!-- edit-end -->
  <a class="btn btn-outline-primary" href="{{site.root}}/table/{{table.name}}">
    <i class="bi bi-funnel"></i>
    Clear Filters
  </a>
  <a class="btn btn-outline-primary" href="{{site.root}}/add-row/{{table.name}}">
    <i class="bi bi-plus"></i>
    Append Row
  </a>
</div>

<h1>{{ table.name }}</h1>

<div id="portal" style="width: 100%; min-width: 400px; left: auto; right: auto"></div>

<p class="range">Rows {{ range.start }}-{{ range.end }} of {{ range.total }}</p>
<table class="table">
  <thead>
    <tr>
      {% for column in columns %}
      <th>{{ column.name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% for column, cell in row.cells|items %}
      <td>{{ cell.text }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Include the taxonomy_view template -->
{% include "taxonomy_view.html" %}

{% endblock %}

{% block scripts %}
<script async>
  window.rltbl = {};
  window.rltbl.site = {{site | tojson}};
  window.rltbl.result = {{result | tojson}};

  // Example: Use an autocomplete dropdown for 'penguin.island' column.
  const table = {{result.table.name | tojson}};
  var columns = {{result.columns | tojson}};
  for (var i = 0; i < columns.length; i++) {
    var kind = "text";
    if (table === "annotation") {
      const col = columns[i].name;
      if (col === "cell_ontology_term") {
        kind = "dropdown";
      } else if (col === "review") {
        kind = "image";
      }
    }
    window.rltbl.result.columns[i].kind = kind;
  }

  const fetchSuggestions = async function (inputValue) {
    const response = await fetch(
      `https://cellular-semantics.sanger.ac.uk/demo/api/suggest?query=${inputValue}&filter=Cell`
    );
    const data = await response.json();
    return data.response.docs;
  };

  const transformData = (data) => {
    return data.map((item) => ({
      value: item.label_autosuggest_e,
      label: item.label_autosuggest_e + "     (" + item.obo_id[0] + ")",
      id: item.obo_id[0]
    }));
  };

  window.rltbl.loadOptions = async function (row, column, inputValue, callback) {
    const suggestions = await fetchSuggestions(inputValue);
    const options = transformData(suggestions);
    callback(options);
  };

  window.rltbl.onCellsEdited = (newValues) => {
    // console.log("Outer onCellEdited", newValues);
    var addedValues = [];
    try {
      if (window.rltbl.result.table.name === "annotation") {
        for (var i = 0; i < newValues.length; i++) {
          var newValue = newValues[i];
          console.log("newValue", newValue);
          var col = newValue.location[0];
          var row = newValue.location[1];
          if (columns[col].name === "cell_ontology_term") {
            addedValues.push({
              location: [col - 1, row],
              value: {kind: "text", data: newValue.value.data.entry.id}
            });
          }
        }
      }
    } catch (e) { }
    return newValues.concat(addedValues);
  };

  document.body.addEventListener("click", function (e) {
    var column = document.getElementById("filter-value");
    if (column) {
      // TODO: This should handle multiple columns.
      column = column.name;
      var order = "";
      if (e.target.id === "sort-asc") {
        order = column;
      } else if (e.target.id === "sort-desc") {
        order = `${column}.desc`;
      }
      if (order) {
        e.preventDefault();
        const params = new URLSearchParams(document.location.search);
        params.set("order", order);
        document.location = `?${params.toString()}`;
        return false;
      } else if (e.target.id === "sort-none") {
        e.preventDefault();
        const params = new URLSearchParams(document.location.search);
        params.delete("order");
        document.location = `?${params.toString()}`;
        return false;
      }
    }
  });

  document.body.addEventListener("submit", function (e) {
    if (e.target.id === "filter-column") {
      e.preventDefault();
      if (e.submitter.id === "filter-clear") {
        document.location = '{{site.root}}/table/{{table.name}}';
      } else {
        const column = document.getElementById("filter-value").name;
        var operator = document.getElementById("filter-operator").value;
        var value = document.getElementById("filter-value").value;
        if (operator === "contains") {
          operator = "like";
          value = `*${value}*`;
        } else if (operator === "is") {
          value = 'NULL';
        } else if (operator === "is_not") {
          value = 'NULL';
        }
        document.location = `?${column}=${operator}.${value}`;
      }
      return false;
    }
  });
</script>
<!-- edit-start (custom scripts) -->
<script>
  document.addEventListener("DOMContentLoaded", function() {

  });
</script>
<!-- edit-end -->
<script defer="defer" src="{{site.root}}/static/main.js"></script>
{% endblock %}